.container {
  --row-gap: 0px;
  --col-gap: 0px;
  --sidebar-size: 65ch;
  composes: with-sidebar from 'layout.module.css';
  position: relative;
  height: 100%;
}

.map > * {
  /* Overrides 'relative' by Leaflet */
  position: sticky !important;
  top: 0;
  min-height: 80vh;
  max-height: 100vh;
}

.content {
  composes: sidebar from 'layout.module.css';
  z-index: 1;
}

/* Styling */

.content {
  background-color: #fff;
  box-shadow: var(--elevation-4);
}
