.container {
  position: relative;
  display: grid;
  grid-template-columns: auto 40ch;
  grid-template-areas: "map list";
  height: 100%;
}

.map {
  grid-area: map;
}

.content {
  grid-area: list;
  overflow-y: auto;
  z-index: 1;
}

/* Styling */

.content {
  background-color: #fff;
  box-shadow: var(--elevation-4);
}

.list > * {
  background-clip: padding-box;
}

.list > * + * {
  border-block-start: 1px solid #0000000c;
}

/* Proper displaying of the transparent borders on the background */
.list > *:hover {
  z-index: 1000;
}

.header {
  composes: box from 'layout.module.css';
  composes: with-sidebar from 'layout.module.css';
  --sidebar-size: 1.5rem;

  --row-gap: var(--space-400);
  --col-gap: var(--space-600);

  position: sticky;
  z-index: 100;
  top: 0;
/*  display: grid;
  gap: var(--row-gap) var(--col-gap);
  grid-template-columns: 1.5rem auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'icon'*/
  background-color: #fff;
  border-bottom: 1px solid rgb(0 0 0 / .12);
}

.headerButton {
  composes: sidebar from 'layout.module.css';
}

@supports (backdrop-filter: blur(4px)) {
  .header {
    background-color: #fffc;
    backdrop-filter: blur(4px);
  }
}
