.container {
  position: relative;
  display: grid;
  grid-template-columns: auto 40ch;
  grid-template-areas: "map list";
  height: 100%;
}

.map {
  grid-area: map;
}

.content {
  grid-area: list;
  overflow-y: auto;
  z-index: 1;
}

/* Styling */

.content {
  background-color: #fff;
  box-shadow: var(--elevation-4);
}

.list > * {
  background-clip: padding-box;
}

.list > * + * {
  border-block-start: 1px solid #0000000c;
}

/* Proper displaying of the transparent borders on the background */
.list > *:hover {
  z-index: 1000;
}
