.container {
  --col-gap: var(--space-300);
  --row-gap: var(--space-200);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'picture content';
  gap: var(--row-gap) var(--col-gap);

  font-size: .875rem;
}

.content {
  composes: stack from 'layout.module.css';
  --spacer: var(--space-200);
}

.avatar {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #0000000c;
  border-radius: 50%;
  background-color: #eee;
  object-fit: cover;
}

.meta {
  color: #0009;
}

.conjunction {
  color: #0006;
}
