.marker {
  --shadow-opacity: .25;

  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #3f51b5;
  box-shadow:
    inset 1px 1px 4px rgb(255 255 255 / var(--shadow-opacity, 0)),
    inset -1px -2px 8px rgb(0 0 0 / var(--shadow-opacity, 0));
  filter:
    grayscale(calc(100% * (1 - var(--freshness, 1))));
  transition: background-color 50ms;
}

.marker:hover {
  background-color: #536dfe;
  filter: none;
}

.marker:active,
.marker.active {
  background-color: #3d5afe;
  filter: none;
}

.highlighted {
  --shadow-opacity: .12;

  background-color: #ffd600;
  filter: none;
}
